<ion-header></ion-header>

<ion-content padding >
  <h1>Aptitud de conducción</h1>

  <ion-list *ngFor="let field of fields; let i = index">
    <ion-item>
      <ion-label >{{ field.label }}</ion-label>
      
      <ion-select *ngIf="field.type.name == 'Select'" [(ngModel)]="field.value" (ngModelChange)="getConditionField(i)">
        <ion-option *ngFor="let option of field.options" [value]="option.key">{{ option.value }}</ion-option>
      </ion-select>

      <ion-input *ngIf="field.type.name == 'Number'" [(ngModel)]="field.value" type="number" (ngModelChange)="getConditionField(i)"></ion-input>
      
      <ion-toggle *ngIf="field.type.name == 'Toogle'" [(ngModel)]="field.value" value="si" checked="true" (ngModelChange)="getConditionField(i)"></ion-toggle>

      <ion-datetime *ngIf="field.type.name == 'Date'" [(ngModel)]="field.value" displayFormat="MMM DD YYYY" (ngModelChange)="getConditionField(i)"></ion-datetime>

    </ion-item>
  </ion-list>
  
  <button ion-button block color="dark" (click)="analize()">Analizar</button>

</ion-content>
